/* LOG IN*/
.form-group--2 .form-input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-group--2 .form-input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* REGISTER*/
.form-group label {
    flex-grow: 1;
    font-size: 1.4rem;
    color: var(--secondary-color);
}
/* SIDEBAR */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    width: 24rem;
    /* width: 100%; */
    background-color: var(--half-secondary-color);
    padding: 1rem;
    height: 100vh;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 99px;
}
.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.6rem;
    padding: 1.2rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.selected {
    background-color: var(--secondary-color);
    color: var(--half-secondary-color);
    border-radius: 1rem;
}
/* HEADER */
/* SEARCH ENGINE */
.header {
    --gap: 2.4rem;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 24rem;
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 1.2rem var(--gap);
    background-color: var(--secondary-color);
}
.search-engine {
    /* position: fixed; */
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 376px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.8rem 1.4rem;
    border-radius: 3rem;
}
.search-input {
    flex-grow: 1;
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 1.6rem;
    border: 0;
    outline: none;
}
.search-input::placeholder {
    opacity: 0.5;
    color: var(--secondary-color);
}
/* USER */
.user {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary-color);
    position: absolute;
    right: var(--gap);
    cursor: pointer;
}
.user-avatar {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}
.user-name {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}
/* SUB MENU */
.user:hover .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    top: calc(100% + var(--brigde));
    right: 0;
    bottom: initial;
    background-color: var(--half-secondary-color);
    width: 225px;
    height: auto;
    padding: 0.4rem;
    border-radius: 1rem;
    box-shadow: 0 0 4px var(--primary-color), 0px 0px 2px var(--secondary-color);
}
.sub-menu .nav-link:hover {
    background-color: var(--secondary-color);
    color: var(--half-secondary-color);
    border-radius: 1rem;
}
/* MAIN */
.main {
    height: auto;
    padding: 1.2rem 2.4rem;
}
/* MUSIC PLAYER */
.music-player {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.2rem 2.4rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 4px var(--primary-color), 0px 0px 2px var(--secondary-color);
}
.song {
    max-width: 30rem;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 24px;
}
.song__thumb {
    width: 72px;
    height: 72px;
    object-fit: cover;
}
.song__desc {
    text-transform: capitalize;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.song__title {
    font-size: 1.6rem;
    margin-bottom: 4px;
}
.song__artist {
    font-size: 1.4rem;
}
.heart-outline {
    font-size: 2rem;
}
.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}
.controls {
    display: flex;
    gap: 25px;
}
.range {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid var(--half-secondary-color);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
    margin-top: -6px;
    position: relative;
}
.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#track {
    background-color: var(--half-secondary-color);
    margin: 0 1.2rem;
    max-width: 480px;
    width: 100%;
}
.current,
.duration {
    flex-shrink: 0;
    font-size: 1.4rem;
}
.action {
    flex-shrink: 0;
    display: flex;
    gap: 25px;
}
.volume {
    display: flex;
    align-items: center;
    gap: 12px;
}
#volume {
    background: var(--secondary-color);
}
/* CARDS */
.cards {
    margin-bottom: 3.2rem;
}
.cards-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 2rem;
}
.cards-title {
    user-select: none;
    display: inline-block;
    color: var(--primary-color);
    font-size: 2.8rem;
}
.cards-more {
    display: inline-block;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}
.cards-bottom {
    --cols: 5;
    --gap: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
}
/* @media screen and (max-width: 767px) {
    .cards-bottom {
        --cols: 3;
        --gap: 2rem;
    }
} */
.card {
    position: relative;
    display: block;
    margin-left: var(--gap);
    margin-bottom: var(--gap);
    min-width: calc((100% / var(--cols)) - var(--gap));
    /* width: 100%; */
    height: 278px;
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 6px;
}
.card:hover {
    opacity: 1;
    background-color: var(--half-secondary-color);
}
.card-img {
    width: 100%;
    height: 186px;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 4px;
}
.card-title {
    line-height: 1.4;
    color: var(--secondary-color);
    font-size: 1.6rem;
    margin-bottom: 4px;
    overflow: hidden;
    width: 180px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.card-desc {
    text-transform: capitalize;
    color: var(--secondary-color);
    font-size: 1.4rem;
}
.play-song-btn {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% + 40px);
    right: 1.6rem;
    float: right;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.card:hover .play-song-btn {
    display: flex;
}
/* SONG PAGE */
/* COVER */
.cover {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 280px;
    background-color: var(--half-secondary-color);
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 2rem;
    border-radius: 6px;
    margin-bottom: 3.2rem;
}
.cover-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cover-info{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.cover__play-song-btn{
    position: relative;
    display: block;
    top: 0;
    left: 0;
}
.cover-title {
    color: var(--secondary-color);
    font-size: 3.2rem;
    line-height: 1.4;
}
.cover-desc {
    color: var(--secondary-color);
    font-size: 1.6rem;
}
.cover-content .timer {
    display: inline-block;
    position: relative;
}
.cover-content .current,
.cover-content .duration {
    z-index: 9;
    font-size: 1.4rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 2px;
    position: absolute;
    top: 50%;
    right: 0;
}
.cover-content .current {
    left: 0;
    right: initial;
}
.cover-thumb {
    width: 240px;
    height: 240px;
    object-fit: cover;
}
/* INTERACTION */
.interaction {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}
.interaction .card {
    width: 260px;
    height: 278px;
}
/* COMMENT */
.comment-box {
    /* max-width: 725px;
    width: 100%; */
    flex-grow: 1;
}
.comment-top,
.comment {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 25px;
}
.comment-top {
    flex-direction: column;
}
.comment-top div {
    display: flex;
    gap: 12px;
    width: 100%;
}
#comment-input {
    flex-grow: 1;
    box-shadow: 0 0 4px var(--primary-color), 0px 0px 2px var(--secondary-color);
}
.comment-btn {
    flex-grow: 1;
    /* margin: 0; */
    margin-right: 0;
}
.comment__desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}
.comment__content {
    text-align: justify;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.desc {
}
.comment__name.user-name {
}
.comment__content.desc {
}
/* ARTIST PROFILE */
.profile {
    position: relative;
    margin-bottom: 2rem;
}
.profile__img {
    border-radius: 4px;
    height: 340px;
}
.profile__info {
    position: absolute;
    bottom: 3.6rem;
    left: 1.2rem;
    /* display: flex; */
    align-items: center;
    color: var(--primary-color);
    text-shadow: 0 0 4px var(--secondary-color),
        0px 0px 2px var(--secondary-color);
}
.profile__name {
    font-size: 5rem;
    margin-right: 8px;
    font-weight: bold;
    letter-spacing: 6px;
}
.profile__auth {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
}
