<header class="header">
    <div class="search-engine">
        <ion-icon name="search"></ion-icon>
        <input
            type="text"
            class="search-input"
            placeholder="Tên nghệ sĩ hoặc bài hát"
        />
        <ul class="search-hints"></ul>
    </div>
    <div class="user">
        <img
            src="./assets/img/ian-dooley-d1UPkiFd04A-unsplash.jpg"
            alt="Avatar"
            class="user-avatar"
        />
        <span class="user-name">Nguyễn Hoàng Minh</span>
        <ion-icon name="chevron-down-outline"></ion-icon>
        <ul class="nav sub-menu">
            <li class="nav-item">
                <a href="" class="nav-link">
                    <ion-icon name="person"></ion-icon>Trang cá nhân
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <ion-icon name="log-out-outline"></ion-icon>Đăng xuất
                </a>
            </li>
        </ul>
    </div>
</header>
