<main class="main">
    <!-- Trending Songs -->
    <section class="cards">
        <div class="cards-top">
            <h3 class="cards-title">Bài hát thịnh hành</h3>
            <a href="" class="cards-more">Xem tất cả</a>
        </div>
        <div class="cards-bottom">
            <a href="songpage.php" class="card">
                <img src="./assets/img/tron tim.jpg" alt="" class="card-img" />
                <div class="card-content">
                    <h4 class="card-title">Trốn tìm</h4>
                    <span class="card-desc">Đen Vâu</span>
                </div>
            </a>
            <a href="" class="card">
                <img
                    src="./assets/img/vu_BQN_poster.jpg"
                    alt=""
                    class="card-img"
                />
                <div class="card-content">
                    <h4 class="card-title">Bước qua nhau</h4>
                    <span class="card-desc">Vũ.</span>
                </div>
            </a>
        </div>
    </section>

    <!-- Popular Artists -->
    <section class="cards">
        <div class="cards-top">
            <h3 class="cards-title">Nghệ sĩ phổ biến</h3>
            <a href="" class="cards-more">Xem tất cả</a>
        </div>
        <div class="cards-bottom">
            <a href="" class="card">
                <img src="./assets/img/den-vau.jpg" alt="" class="card-img" />
                <div class="card-content">
                    <h4 class="card-title">Đen Vâu</h4>
                    <span class="card-desc">Rapper</span>
                </div>
            </a>
        </div>
    </section>
    <footer style="height: 100px"></footer>
</main>
