<div class="sidebar">
    <img src="./assets/Logo F5.svg" alt="" class="logo" />
    <nav class="nav">
        <ul class="nav-top">
            <li class="nav-item">
                <a href="" class="nav-link selected">
                    <ion-icon name="home"></ion-icon>Trang chủ
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <ion-icon name="disc"></ion-icon>Bài hát đã thích
                </a>
            </li>
        </ul>
        <ul class="nav-bottom">
            <li class="nav-item">
                <a href="" class="nav-link">
                    <ion-icon name="settings"></ion-icon>Cài đặt
                </a>
            </li>
        </ul>
    </nav>
</div>
