<div class="sidebar">
    <a href="index.php">
        <img src="./assets/Logo F5.svg" alt="" class="logo" />
    </a>
    <nav class="nav">
        <ul class="nav-top">
            <li class="nav-item">
                <a class="nav-link selected" href ="index.php" >
                <!-- <a href="index.php" class="nav-link"> -->
                    <ion-icon name="home"></ion-icon>Trang chủ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href ="listloves.php" id ="like">
                <!-- <a href="listloves.php" class="nav-link"> -->
                    <ion-icon name="disc"></ion-icon>Bài hát đã thích
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="album.php">
                <!-- <a href="album.php" class="nav-link"> -->
                    <ion-icon name="albums"></ion-icon>Album
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upload.php">
                <!-- <a href="album.php" class="nav-link"> -->
                    <ion-icon name="cloud-upload-outline"></ion-icon>Đăng nhạc
                </a>
            </li>
        </ul>
        <ul class="nav-bottom">
            <li class="nav-item">
                <a href="" class="nav-link">
                    <ion-icon name="settings"></ion-icon>Cài đặt
                </a>
            </li>
        </ul>
    </nav>
</div>